{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{title}}</h2>
<hr>
<ol class="breadcrumb">
    <li>
        <a href="{% url 'student:studentindex' %}"><i class="fa fa-users" aria-hidden="true"></i> Students</a>
    </li>
    <li>
    	<a href="{% url 'student:detail' instance.student.pk %}"><i class="fa fa-user" aria-hidden="true"></i> Student Informations</a>
    </li>
    <li class="active">
    	<i class="fa fa-user" aria-hidden="true"></i> {{title}}
    </li>
</ol>
<div class="row">
	<div class="col-sm-12">
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h3>{{title}} | <small>Name: {{instance.student.full_name|title}}?</small></h3>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					{{form|crispy}}
					<hr>
					<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Update</button>
			<a href="{% url 'student:detail' instance.student.id %}" type="button" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}