{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>{{title}}</h1>
<hr>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'student:studentindex' %}"><i class="fa fa-users"></i> Students</a>
    </li>
    <li class="breadcrumb-item active">
    	<i class="fa fa-user"></i> {{title}}
    </li>
</ol>
<div class="row">
	<div class="col-sm-3">
		<div class="text-center">
		{% if instance.image %}
			<img style="width: 250px; height: 250px;" src="{{instance.image.url}}" alt="" class="img-thumbnail img-responsive img-rectangle">
		{% else %}
			<i class="fa fa-fw fa-user"></i>
		{% endif %}
		</div>
	</div>
	<div class="col-sm-9">
		{% for info in instance.studentinfo_set.all %}
		<h3><b>{{info.student.full_name|title}}</b> <small>LRN: {{info.student.lrn_or_id_number}}</small></h3>
		<p><b>Birth Date: </b>{{info.student.birth_day}} 
			<br>
			<b>Address: </b>{{info.address|title}} 
			<br>
			<b>Gender: </b>{{info.student.gender|title}}
		</p>
		<h3>Parents Information</h3>
		<p><b>Father's Name: </b>{{info.father_name|title}}
		<br>
			<b>Mother's Name: </b>{{info.mother_name|title}}
		</p>
		<a href="{% url 'student:editinfo' info.pk %}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Edit</a>
		
		{% endfor %}
		<a href="{% url 'student:addstudentinfo' %}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> Add info</a>

	</div>
</div>
<hr>
<div class="row">
<div class="col-sm-12">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#menu1">Class schedules</a></li>
	  <li><a data-toggle="tab" href="#menu2">Billing accounts</a></li>
	  <li><a data-toggle="tab" href="#menu3">Grades</a></li>
	</ul>

	<div class="tab-content">
	  <div id="menu1" class="tab-pane fade in active">
	    <h3>Class Schedules</h3>
	    <table class="table table-bordered">
	    	<tr>
	    		<th>Subjects</th>
	    		<th>Instructors</th>
	    		<th>Year</th>
	    		<th>Semester</th>
	    		<th>Date</th>
	    		<th>Time</th>
	    	</tr>
	    	{% for schedule in instance.schedule_set.all %}
		    	{% if schedule %}
		    	<tr>
		    		<td><a href="{% url 'subject:detail' schedule.subject.id %}">{{schedule.subject}}</a></td>
		    		<td><a href="{% url 'instructor:detail' schedule.teacher.id %}">{{schedule.teacher|title}}</a></td>
		    		<td>{{schedule.block.course.semister.schoolyear.school_year}}</td>
		    		<td>{{schedule.block.course.semister}}</td>
		    		<td>{{schedule.date_start|date:"D d M Y"}} - {{schedule.end_date|date:"D d M Y"}}</td>
		    		<td>{{schedule.time_start|date:"f A"}} - {{schedule.time_end|date:"f A"}}</td>
		    	</tr>
		    	{% else %}
		    		<p>No schedule yet!</p>
		    	{% endif %}
	    	{% endfor %}
	    </table>
	    
	  </div>
	  <div id="menu2" class="tab-pane fade">
	    <h3>Billing Accounts</h3>
	    <table class="table table-bordered">
	    	<tr>
	    		<th>Subjects</th>
	    		<th>Year</th>
	    		<th>Semester</th>
	    		<th>Subject Fees</th>
	    	</tr>
	    	{% for schedule in instance.schedule_set.all %}
		    	<tr>
		    		<td><a href="{% url 'subject:detail' schedule.subject.id %}">{{schedule.subject}}</a></td>
		    		<td>{{schedule.block.course.semister.schoolyear.school_year}}</td>
		    		<td>{{schedule.block.course.semister}}</td>
		    		<td>PHP {{schedule.subject.subject_fee}}</td>
		    		<td colspan="5"><strong>Total Subject Fee:</strong> {{ schedule.total_subject_fee }}</td>
		    	</tr>
	    	{% endfor %}
	    </table>
	    <p> </p>
	  </div>
	  <div id="menu3" class="tab-pane fade">
	    <h3>Menu 3</h3>
	    <p>Some content in menu 2.</p>
	  </div>
	</div>
</div>
<!-- <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Profile</h3>
    <div class="col-sm-3">
		<div class="text-center">
			<img src="{% static 'imgs/church.jpg' %}" alt="" class="img-thumbnail">
		</div>
	</div>
	<div class="col-sm-9">
		<h2><b>{{instance.full_name}}</b> | <small>LRN: {{instance.lrn}}</small></h2>
		<p><b>Birth Date: </b>{{instance.birth_day}}</p>
		{% for info in instance.studentinfo_set.all %}
		<p><b>Address: </b>{{info.address}}</p>
		<p><b>Gender: </b>{{info.sex}}</p>
		<h3><b>Parents Info</b></h3>
		<p><b>Father's Name: </b>{{info.father_name}}</p>
		<p><b>Mother's Name: </b>{{info.mother_name}}</p>
		{% endfor %}
	</div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div> -->
	<!-- <div class="col-sm-3">
		<div class="text-center">
			<img src="{% static 'imgs/church.jpg' %}" alt="" class="img-thumbnail">
		</div>
	</div>
	<div class="col-sm-9">
		<h2><b>{{instance.full_name}}</b> | <small>LRN: {{instance.lrn}}</small></h2>
		<p><b>Birth Date: </b>{{instance.birth_day}}</p>
		{% for info in instance.studentinfo_set.all %}
		<p><b>Address: </b>{{info.address}}</p>
		<p><b>Gender: </b>{{info.sex}}</p>
		<h3><b>Parents Info</b></h3>
		<p><b>Father's Name: </b>{{info.father_name}}</p>
		<p><b>Mother's Name: </b>{{info.mother_name}}</p>
		{% endfor %}
	</div> -->
</div>
<hr>
<div class="row">
	<div class="col-sm-12">
		<a href="{% url 'student:studentindex' %}"><i class="fa fa-arrow-left"></i> Back to student list</a>
	</div>
</div>

{% endblock %}
