{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if messages %}
	<ul class="messages">
    {% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
	</ul>
{% endif %}



<h1>List of Students</h1>

<hr>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-users"></i> Students
    </li>
</ol>
<hr>
<a class="btn btn-success" href="{% url 'student:addstudent' %}"><i class="fa fa-plus"></i> add student</a>
<hr>
<div class="row">
	<div class="col-sm-12">
		<div class="btn-group btn-group-justified" role="group" aria-label="Student Filters">
		  <a type="button" class="btn btn-default">All</a>
		  <a type="button" class="btn btn-default">Registered</a>
		  <a type="button" class="btn btn-default">Enrolled</a>
		  <a type="button" class="btn btn-default">Grade 11</a>
		  <a type="button" class="btn btn-default">Grade 12</a>
		  <a type="button" class="btn btn-default">Male</a>
		  <a type="button" class="btn btn-default">Female</a>
		</div>
	</div>
</div>
<hr>
<form class="form">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search student">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
<hr>
<div class="row">
	<div class="col-sm-12">
		<!-- <div class="well"> -->
			
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							{% for student in studentlist %}
							<tr>
								<td rowspan="2">
									<div class="text-center">
										<a href="{% url 'student:detail' student.id %}">
										{% if student.image %}
											<img style="width: 80px; height: 80px;" src="{{ student.image.url }}" alt="" class="img-thumbnail img-responsive img-circle">
										{% else %}
											<i class="fa fa-fw fa-user"></i>
										{% endif %}
										</a>
									</div>
								</td>
								<th>Name</th>
								<th>LRN/ID number</th>
								<th>Date registered</th>
								<th>Actions</th>
							</tr>
							<tr>
								<td><h4><a href="{% url 'student:detail' student.id %}">{{student.full_name|title}}</a></h4></td>
								<td>{{student.lrn_or_id_number}}</td>
								<td>{{student.timestamp}}</td>
								<td>
									<a href="{% url 'student:edit' student.id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a> |
									<a href="{% url 'student:detail' student.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-user"></i> Details</a>
								</td>
							</tr>
							{% endfor %}
						</table>

					</div>
				</div>

			
		<!-- </div> -->
		
	</div>
</div>


{% endblock %}