{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{title}}</h2>
<hr>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'subject:subjectindex' %}"><i class="fa fa-book"></i> Subjects</a>
    </li>
    <li class="breadcrumb-item active">
    	<i class="fa fa-edit" aria-hidden="true"></i> {{title}}
    </li>
</ol>
<div class="row">
	<div class="col-sm-12">
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h3>{{title}} | <small>Subject: {{instance.descriptive_title}}?</small></h3>
			<p style="color: red;"><strong>Note: </strong>Marked * are required!</p>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					{{form|crispy}}	
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-square-o"></i> Update</button>
			<a href="{% url 'subject:detail' instance.id %}" type="button" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> Cancel</a>
		</form>
	</div>
</div>
{% endblock %}