{% extends "base.html" %}

{% block search %}
<form class="form-inline my-2 my-lg-0" method="GET" action="">
	<input class="form-control mr-sm-2" name="q" type="text" placeholder="{{searchPlaceHolder}}" value="{{ request.GET.q }}">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
</form>
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<hr>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-book"></i> Subjects
    </li>
</ol>
<hr>
<a class="btn btn-success" href="{% url 'subject:addsubject' %}"><i class="fa fa-plus"></i> add subject</a>
<hr>
<div class="row">
	<div class="col-sm-12">
		<!-- <div class="well"> -->
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Subject Code</th>
									<th>Descriptive Title</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for subject in subjectlist %}
								<tr>
									<td>{{subject.subject_code}}</td>
									<td>{{subject.descriptive_title|title}}</td>
									<td>
										<a href="{% url 'subject:detail' subject.id %}" type="button" class="btn btn-primary btn-sm"><i class="fa fa-file"></i> Details</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<hr>

			
		<!-- </div> -->
		
	</div>
</div>
{% endblock %}