{% extends "base.html" %}


{% block search %}
<form class="form-inline my-2 my-lg-0" method="GET" action="">
	<input class="form-control mr-sm-2" name="q" type="text" placeholder="{{searchPlaceHolder}}" value="{{ request.GET.q }}">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
</form>
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<hr>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">
        <i class="fa fa-users"></i> Instructors
    </li>
</ol>
<hr>
<a class="btn btn-success" href="{% url 'instructor:addinstructor' %}"><i class="fa fa-plus"></i> add instructor</a>
<hr>

<hr>
<div class="row">
	
	<div class="col-sm-9">
		<!-- <div class="well"> -->
			{% for instructor in instructorslist %}
				<div class="row">
					<div class="col-sm-2">
						<div class="text-center">
							<a href="{% url 'instructor:detail' instructor.id %}">
							{% if instructor.image %}
								<img style="width: 106px; height: 106px;" src="{{ instructor.image.url }}" alt="" class="img-thumbnail img-responsive img-circle">
							{% else %}
								<div class="well">
									<span class='glyphicon glyphicon-user'></span>
								</div>
							{% endif %}
							</a>
						</div>
					</div>
					<div class="col-sm-8">
						<h4><a href="{% url 'instructor:detail' instructor.id %}">{{instructor.full_name|upper}}</a> <small>ID Number: {{instructor.id_number}}</small></h4>
						Email Address: <small>{{instructor.email_add}}</small><br>
						Contact Number: <small>{{instructor.contact_number}}</small><br>
						Department: <small>{{instructor.department}}</small>
						<br><br>
						<div class="text-left">
							<a href="{% url 'instructor:edit' instructor.id %}" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Edit</a> |
							<a href="{% url 'instructor:detail' instructor.id %}" class="btn btn-primary btn-sm"><i class="fa fa-user"></i> Details</a>
						</div>
					</div>
				</div>
				<hr>
			{% endfor %}
		<!-- </div> -->
		
	</div>
	<div class="col-sm-3">
		<div class="well">
			<h4>Departments Filters:</h4>
			<hr>
			{% for dep in departmentlist %}
				<span class="glyphicon glyphicon-arrow-right"></span> <a href="">{{dep.department}}</a><br>
			{% endfor %}
		</div>
		
	</div>
</div>
{% endblock %}