{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-thumb-tack"></i> {{title|title}} <small>News and updates</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Bulletins
            </li>
        </ol>
    </div>
</div>
<hr>
<h2>Features and Updates</h2>
<hr>
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <div class="row">
        <div class="col-sm-3">
          <img src="../media_cdn/1/option_3_uniform_front.jpg" alt="...">
        </div>
        <div class="col-sm-9">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam provident itaque, deleniti recusandae. Atque, dignissimos, rem odio nam facilis maiores.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}